<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/main.css') }}">
    </head>

    <body>
        <div id="wrapper">
            <div id="container">
                <h1>Welcome to Internations User Group managment tool</h1>
                <ul>
                    <li><a href="{{ path('users') }}" >Users</a></li>
                    <li><a href="{{ path('groups') }}" >Groups</a></li>
                </ul>
                {% block container %}{% endblock %}
            </div>
        </div>

        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/devbridge-autocomplete/dist/jquery.autocomplete.min.js') }}"></script>
        <script src="{{ asset('public/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
