{% extends 'base.html.twig' %}

{% block container %}
    <h1>Group <b><i>{{ group.name }}</i></b></h1>
    <table border="1" cellpadding="10">
        {% for groupuser in group.groupusers %}
            <tr>
                <td><a href="{{ path('user-details', {'id':groupuser.user.id}) }}" >{{ groupuser.user.name }}</a></td>
                <td>{{ groupuser.datecreated|date('Y-m-d') }}</td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}