{% extends 'base.html.twig' %}

{% block container %}
    <h1>Groups</h1>
    <div style="display: inline-block">
        <div style="text-align: right;">
            <input id="group-name" type="text" name="name" >
            <input id="add-group" type="button" value="Add New Group">
        </div>
    <div>
        <table border="1" cellpadding="10">
            <tr>
                <td>ID</td>
                <td>Group Name</td>
                <td>Status</td>
                <td>Date Added</td>
                <td>Action</td>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td><a href="{{ path('group-details', {'id':group.id}) }}" >{{ group.name }}</a></td>
                    <td>{{ group.statustext }}</td>
                    <td>{{ group.datecreated|date('Y-m-d') }}</td>
                    <td>
                        {% if group.isactive %}
                            <a href="#delete" onclick="deleteGroup(this,{{ group.id }})"><span style="color:red;">Deactivate</span></a>
                    </td>
                    {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#add-group').click(function () {
                apiAddGroup($('#group-name').val(), function(){
                    location.reload();
                });
            });
        });

    </script>
{% endblock %}