{% extends 'base.html.twig' %}

{% block container %}
    <h1>User <b><i>{{ user.name }}</i></b></h1>
    <div style="display: inline-block">
        <div style="text-align: right;">
            <input type="text" id="search-groups" name="group" >
            <input id="add-to-group" type="button" value="Add to group">
        </div>
        <table border="1" cellpadding="10">
            <tr>
                <td>ID</td>
                <td>Group Name</td>
                <td>Status</td>
                <td>Date Added</td>
                <td>Action</td>
            </tr>
            {% for usergroup in user.usergroups %}
                <tr>
                    <td>{{ usergroup.group.id }}</td>
                    <td><a href="{{ path('group-details', {'id':usergroup.group.id}) }}" >{{ usergroup.group.name }}</a></td>
                    <td class="status">{{ usergroup.statustext }}</td>
                    <td>{{ usergroup.datecreated|date('Y-m-d') }}</td>
                    {% if usergroup.isactive %}
                        <td><a href="#delete" onclick="removeFromGroup(this,{{ usergroup.user.id }},{{ usergroup.group.id }})"><span style="color:red;">Deactivate</span></a></td>
                    {% else %}
                        <td><a href="#activate" onclick="assignToGroup(this,{{ usergroup.user.id }},{{ usergroup.group.id }})"><span>Activate</span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $( document ).ready(function() {
            var selected_group = null;
            var user_id = "{{ user.id }}";
            $('#search-groups').autocomplete({
                serviceUrl: '/api/groups/search',
                transformResult: function(response) {
                    return {
                        suggestions: $.map(JSON.parse(response).result, function(dataItem) {
                            return { value: dataItem.id + '- ' + dataItem.name, data: dataItem.id };
                        })
                    };
                },
                onSelect: function (suggestion) {
                    selected_group = suggestion.data;
                }
            });

            $('#add-to-group').click(function () {
                apiAssignToGroup(user_id,selected_group, function(){
                    location.reload();
                });
            });
        });

    </script>
{% endblock %}
