{% extends 'base.html.twig' %}

{% block container %}
    <h1>Users</h1>
    <div style="display: inline-block">
        <div style="text-align: right;">
            <input id="user-name" type="text" name="name" >
            <input id="add-user" type="button" value="Add New User">
        </div>
        <div>
            <table border="1" cellpadding="10">
                <tr>
                    <td>ID</td>
                    <td>User Name</td>
                    <td>Status</td>
                    <td>Date Added</td>
                    <td>Action</td>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ path('user-details', {'id':user.id}) }}" >{{ user.name }}</a></td>
                        <td class="status">{{ user.statustext }}</td>
                        <td>{{ user.datecreated|date('Y-m-d') }}</td>
                        <td>
                        {% if user.isactive %}
                            <a href="#delete" onclick="deleteUser(this,{{ user.id }})"><span style="color:red;">Deactivate</span></a></td>
                        {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#add-user').click(function () {
                apiAddUser($('#user-name').val(), function(){
                    location.reload();
                });
            });
        });

    </script>
{% endblock %}